
.nav {
    width: 20%;
}
.navigation__list {
    position: relative;
    padding-left: 0px;
    margin-top: 50px;
    list-style-type: none;
}
.navigation__item {
    position: relative;
    margin-bottom: 38px;
    align-items: center;
}
.navigation__item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}
.navigation__item-link {
    font-size: 12px;
    letter-spacing: 2,4px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'gothampro';
    font-weight: 700;
    font-size: 12px;
    color: #ec1e79;
    letter-spacing: 1.2px;
}
.navigation__item-link::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 18px;
    background-repeat: no-repeat;
    padding-right: 15px;
}
.navigation__item-link {
    padding-left: 20px;
}
.navigation__item-link:hover {
    color: #221f1f;
}
.navigation__item-link--main::before {
    width: 17px; height: 15px;
    background: url('../../img/sprite.png') -90px -10px;
}
.navigation__item-link--feed::before {
    width: 20px; height: 18px;
    background: url('../../img/sprite.png') -10px -10px;
}
.navigation__item-link--price::before {
    width: 19px; height: 16px;
    background: url('../../img/sprite.png') -10px -48px;
}
.navigation__item-link:hover.navigation__item-link--main::before {
    width: 17px; height: 15px;
    background: url('../../img/sprite.png') -90px -45px;
}
.navigation__item-link:hover.navigation__item-link--feed::before {
    width: 20px; height: 18px;
    background: url('../../img/sprite.png') -50px -10px;
}
.navigation__item-link:hover.navigation__item-link--price::before {
    width: 19px; height: 16px;
    background: url('../../img/sprite.png') -49px -48px;
} 
